.showsRibbon {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, 200px);
}

.showsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showCard {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 5%;
}
