.showsWrapper {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.showCard {
  position: relative;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  width: 200px;
  height: 300px;
  border-radius: 5%;
}

.posterPlaceholder {
  background: rgb(36, 40, 107);
  height: 100%;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
