.searchButton {
  padding: 0.5rem 0.8rem;
  background: #232323;
  color: rgb(246, 246, 246);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.searchButton:hover {
  background: #3c3c3c;
}
